@import "../../../../styles.scss";

nav {
  width: 100%;
  color: $text-color;
  display: flex;
  flex-direction: row;
  background-color: $header-background;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin: 0 2vw;
  color: #818181;
}

li:hover {
  cursor: pointer;
  color: $text-color;
  transition: 0.3s ease all;
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }

  .show {
    display: block;
    width: 450px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: flex-start;
  }

  .menu-trigger {
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
    transition: 1s ease all;
  }

  .sidebar {
    height: 100%;
    width: 40%;
    position: fixed;
    background-color: #121214;
    transition: 0.5s;
    padding-top: 3rem;
    z-index: -1;
  }

  ul {
    flex-direction: column;
  }

  li {
    padding: 8px 8px 20px 32px;
    font-size: 1rem;
    transition: 0.4s;
    border-left: 2px solid transparent;
    right: 9px;
    position: relative;
    top: 20px;
  }

  li:hover {
    color: #fff;
    transition: 0.3s ease all;
    border-color: rgb(130, 87, 230);
  }

  .fas {
    font-size: 1.5rem;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
