<header>
  <nav class="desktop">
    <ul>
      <li>Início</li>
      <li>Sobre</li>
      <li>Projetos</li>
      <li>Contato</li>
    </ul>
  </nav>

  <div class="mobile">
    <span class="menu-trigger">
      <button class="btn-navbar" (click)="toggle()">
        <i class="fas fa-bars"></i>
      </button>
    </span>
    <nav [ngClass]="menuOpen ? 'show' : 'hidden'">
      <ul>
        <li>Início</li>
        <li>Sobre</li>
        <li>Projetos</li>
        <li>Contato</li>
      </ul>
    </nav>
  </div>
</header>