@import '../../../../styles.scss';

nav {
  width: 100%;
  color: $text-color;
  display: flex;
  flex-direction: row;
  background-color: $header-background;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin: 0 2vw;
  color: #e4dedea4;
}

li:hover {
  cursor: pointer;
  color: $text-color;
  transition: .3s ease all;
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
  
  .show {
    display: block;
    width: 450px;
    // height: 150px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: flex-start;
  }

  .menu-trigger {
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer; 
  }

  .btn-navbar {
    width: 2rem;
  }

  ul {
    flex-direction: column;  
  }

  .fas {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}