<section>
  <div class="container">
    <div class="card">
        <p class="salutation">Olá! Eu sou a Mariana Bastos</p>
        <br>
        <p class="apresentation">
          Sou uma desenvolvedora Front-end e estudante de desenvolvimento Back-end.
          Sou apaixonada por tecnologia, adoro aprender coisas novas e diferentes,
          amo de mais programar.
        </p>
      </div>
      <div class="woman-code">
        <img [src]="'../../../assets/code.png'" alt="woman-code" width="100%" />
      </div>
  </div>
</section>
