<section>
  <div class="content">
    <div class="card">
      <h1 class="salutation">Olá! Eu sou a Mariana Bastos</h1>
      <br>
      <p class="apresentation">
        Sou uma desenvolvedora Front-end e estudante de desenvolvimento Back-end.
        Sou apaixonada por tecnologia, adoro aprender coisas novas e diferentes,
        e amo programar.
      </p>
    </div>
    <div class="woman-code">
      <img [src]="'../../../assets/code.png'" alt="woman-code" width="100%" />
    </div>
  </div>
</section>