@import "../../../styles.scss";

.container {
  display: flex;
  width: 100%;
  padding: 4rem;
//   font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
}

.salutation {
  color: $text-color;
  font-size: 2rem;
}

.apresentation {
  color: #818181;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    margin-bottom: 2rem;
  }
}
